
<div class="body">
  <div class="form">
    <h3 style="text-align: center;">Login as Staff</h3>
    <form action="" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Enter Username">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="password" placeholder="Enter Password">
      </div>

      <br>
      <button type="submit" style="margin-left: 125px;" class="btn btn-primary">Login</button>
    </form>
  </div>

</div>

<div class="footer">
  <h6 style="text-align: center;">Footer</h6>
</div>
