<div>
    <div class="header">
        <div class="brand">
            <img class="brand-img" src="assets/img/bank-logo.png" alt="bank-logo">
            <h1>XYZ Bank</h1>
        </div>
        
        <div class="buttons">
            <a routerLink="/customer-signup"><button class="btn btn-primary">Customer SignUp</button></a>
            <a routerLink="/customer-login"><button class="btn btn-primary">Customer Login</button></a>
            <a routerLink="/staff-login"><button class="btn btn-primary">Staff Login</button></a>
            <a routerLink="/admin-login"><button class="btn btn-primary">Admin Login</button></a>
        </div>
        <h1 style="text-align: right; margin-right: 25px;">Banking Portal</h1>
      </div>
</div>

<router-outlet>
    
</router-outlet>